@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body{
  background-color: rgb(210,78,39);
  background: radial-gradient(circle, rgba(210,78,39,1) 0%, rgba(123,36,68,1) 100%); 
  font-family: "Source Code Pro", monospace;
}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}

/* .terminal{
  margin-top: 5%;
} */

.navbar-toggler.custom-toggler {
  border-color: #ff5733; /* Border color of the toggle button */
}


.terminal .terminal-header{
  background-color: rgb(47, 47, 49);
}

.black{
  background-color: #000 !important;
}


.name{
  background: -webkit-linear-gradient(0deg, #d01111 0%, #0c08e2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}
.title{
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fixed-height{
  height: 550px;
}

/* Hide all sections by default */
.terminal-body .section {
  display: none;
}

/* Show the section when it is targeted */
.terminal-body .section:target {
  display: block;
}

.offcanvas .section:target{
  z-index: 1;
}
/* If no section is targeted, show the home section */
body:not(:has(:target)) .terminal-body #home {
  display: block;
}


/* Define the blinking animation */
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* Style the cursor element */
.cursor {
  font-family: monospace; /* Use a monospaced font */
  font-size: 24px; /* Adjust size as needed */
  animation: blink 1s step-start infinite; /* Apply the blinking animation */
}

.green-font{
  color: #0f0;
}
.blue-font{
  color: rgb(0, 238, 255);
}

.menu-bar .container .row .icons{
  background: #0000006b;
  border-radius: 10px;
}



@media only screen and (max-width: 768px) {
  .activities{
    display: none;
  }
  .top-bar{
    display: block;
  }
.terminal{
  margin: 0 5%;
}
  .fixed-height{
    height: auto;
  }
  .name{
    font-size: 0.2rem;
  }
  .title{
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1400px) {

  .name{
    font-size: 0.5rem;
  }
  .title{
    font-size: 0.8rem;
  }
}