@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

html{
  scroll-behavior: smooth;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root{
  --primary: #2add77;
  --foreground: #e0e0e0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Autour One", system-ui;
}


body {
  overflow-x: hidden;
  cursor: url('img/cursor.png') 4 4, auto;
}

.mouse-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  background: linear-gradient(45deg, #02d6fb, #04fbfb);
  border-radius: 50%;
  pointer-events: none; 
  transform: translate(-50%, -50%);
  transition: transform 0.05s linear;
  z-index: 1;
}


.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  inset: 0;
  background: url('img/bg.webp');
  background-size: cover;
  z-index: 0;
}

/* LAYER 2: GLASS BLUR OVERLAY */
.glass-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.68);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 1;
  inset: 0;
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200"><filter id="n" x="0" y="0" width="100%" height="100%"><feTurbulence type="fractalNoise" baseFrequency="0.8" numOctaves="4" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(%23n)" opacity="0"/></svg>');
  background-repeat: repeat;
  z-index: 2;
  pointer-events: none;
}

/* LAYER 4: PAGE CONTENT */
main {
  position: relative;
  z-index: 3;
  color: white;
  overflow-x: hidden;
}







/* Flip Animation Starts Here */

.flip-container{
  position: absolute;
  width: 200px;
  height: 200px;
}

.initial {
  left: 10%;
  top: 10%;
}

.second{
  left: 80%;
  top: 160%;
}

.third{
  left: 0%;
  top: 240%;
}

.fourth{
  left: 20%;
  top: 350%;
}

.fifth{
  left: 80%;
  top: 420%;
}

.sixth{
  left: 20%;
  top: 540%;
}

.box{
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
  background: url('img/balloon.webp');
  background-size: contain;
}

.second .marker {
  width: 100%;
  height: 100%;
}

.third .marker {
  width: 100%;
  height: 100%;
}
.fourth .marker {
  width: 100%;
  height: 100%;
}
.fifth .marker {
  width: 100%;
  height: 100%;
}
.sixth .marker {
  width: 100%;
  height: 100%;
}

/* Flip Animation Ends Here */

/* Hero Section Starts Here*/

.hero{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.name{
  font-size: clamp(1.5rem, 13vw, 18rem); 
  line-height: clamp(1.5rem, 12vw, 18rem);
  color: var(--foreground);
  text-align: center;
  transform: rotateZ(-10deg);
}

.slider{
  width: 100%;
  height: var(--height);
  background-image: linear-gradient(to right, transparent, var(--foreground) 10% 90%, transparent);
  transform: rotateZ(-10deg);
}

.slider .list{
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .list .item{
  color: #000;
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  padding: 0.5rem 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  animation: autoRun 10s linear infinite;
  animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1));
}

.slider .list .item:last-of-type{
    visibility: visible;
  }

  .slider .list .item:nth-of-type(6){
    visibility: visible;
  }

@keyframes autoRun{
  from{
    left: 100%;
  }
  to{
    left: calc(var(--width) * -1);
  }
}

.slider:hover .item{
  animation-play-state: paused;
  
}

.scroll-down {
  position: fixed;
  bottom: 60px;
  opacity: 0.5;
  font-size: 0.8rem;
}

.scroll-indicator {
  position: fixed;
  bottom: 10px;
  width: 30px;
  height: 45px;
  border: 2px solid #fff;
  border-radius: 20px;
  opacity: 0.5;
  z-index: 10;
}

.scroll-indicator hr {
  transform: rotate(90deg);
  margin: 0.5rem;
  height: 5px;
  border: none;
  background-color: #fff;
  border-radius: 20px;
  animation: scroll-down 2s linear infinite;
}

.hide {
  opacity:0;
  pointer-events:none;
  transition: all 1s ease-out;
}

@keyframes scroll-down {
  from { transform: translateY(0) rotate(90deg);}
  to { transform: translateY(20px) rotate(90deg); }
}


/* Hero Section Ends Here */

/* About Section Starts Here*/

.about{
  min-height: 100vh;
  padding: 0 5rem;
}

.about-grid{
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "left right";
  gap: 2rem;
  align-items: start;
}

.section-heading{
  color: var(--foreground);
  font-size: clamp(3rem, 8vw, 10rem);
  text-align: center;
  letter-spacing: 5px;
}



.about-left{
  padding: 0 1rem 1rem 1rem;
  grid-area: left;
}


img{
  display: block;
  max-width: 100%;
  border-radius: 60px 20px 60px 20px;
  padding: 1rem;
}



.cta-content{
  padding: 0 1rem 1rem 1rem;
  letter-spacing: 2px;
  line-height: 1.8rem;

}

.cta-btn{
  display: block;
  width: 90%;
  height: 50px;
  background-color: #000;
  padding: 1rem;
  font-weight: 900;
  color: #fff;
  margin-left: 1rem;
  text-align: center;
  text-decoration: none;
  position: relative;
  border-radius: 15px;
  transition: all ease 1s;
}


.cta-btn::before,
.cta-btn::after{
  content: "";
  position: absolute;
  inset: -3px;
  background: conic-gradient(from var(--gradient-angle), #03e3f8, #fc045f, #5bf402, #034bf3, #03e3f8);
  border-radius: inherit;
  padding: 1.2rem;
  z-index: -1;
  animation: border-rotation 3s linear infinite;
}

.cta-btn::before {
  filter: blur(20px);
}

@keyframes border-rotation {
  from { --gradient-angle: 0deg; }
  to { --gradient-angle: 360deg; }
}


.about-right{
  color: #ffffff;
  grid-area: right;
}

.about-right h2{
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  letter-spacing: 3px;
  color: #fed906;
  padding: 0 1rem;
}

.about-right p{
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.about-right p:first-of-type{
  padding: 2rem 2rem 0 2rem;
}
.about-right p:last-of-type{
  padding: 1rem 2rem 2rem 2rem;
}


.skills-heading{
  font-size: 1.5rem;
  color: #ddddd987;
  text-align: center;
  padding: 1rem 0;
  letter-spacing: 5px;
}

.skill-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 1rem;
}

.skill-card{
  background-color: transparent;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(120deg, rgba(148, 135, 135, 0.273), rgba(15, 14, 14, 0.3));
  width: 90%;
  margin: 0.5rem;
  border-radius: 20px 0 20px 0;
  border: 1px solid #ffffff4f;
  justify-self: center;
}

.skill-card:nth-child(5) {
  grid-column: 1 / -1; /* spans both columns */
  justify-self: center; /* centers it horizontally */
}

.skill-category{
  padding: 1rem;
}

.skill-icons{
  padding: 1rem;
  text-align: center;
}




.wave {
  display: inline-block;
  transform-origin: 70% 70%; 
  animation: wave ease 2s infinite;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

/* About Section Ends Here */



/* Works Section Starts Here */

.works{
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}




.works-container{
  display: flex;
}


.panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  flex: 0 0 100vw;
  border-radius: 15px;
}







.panel-right{
  padding: 2rem;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  text-wrap: wrap;
}

.current-work{
  color: #07f68e;
}

.current-work::before{
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 0.5rem 0 0;
  border-radius: 50%;
  background-color: #07f68e;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.company{
  color: #fed906;
  font-size: 2rem;
}

.position{
  color: #fff;
  font-weight: 600;
}

.work-desc{
  color: #fff;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  width: 100%;
}

.btn{
  display: block;
  width: 150px;
  height: 50px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1rem;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 1rem;
}



/* Works Section Ends Here */

/* Contact Section Starts Here */

.contact{
  min-height: 100vh;
}

.contact-content {
  text-align: center;
  padding-top: 2rem;
}

.contact-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem 5rem 5rem 5rem;
}

.contact-card{
  background: transparent;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(120deg, rgba(148, 135, 135, 0.273), rgba(15, 14, 14, 0.3));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 1rem;
  border-radius: 20px;
}

.contact-card *{
  padding-top: 1rem;
}

.contact-card i {
  font-size: 2.5rem;
}

.contact-card a{
  color: #fff;
}

.social-icons a{
  padding: 1rem;
}



/* Contact Section Ends Here */

footer{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-image: linear-gradient(120deg, rgba(148, 135, 135, 0.273), rgba(15, 14, 14, 0.3));
  backdrop-filter: blur(50px);
  opacity: 0.5;
  z-index: 999;
}

footer h6{
  font-size: 1.5rem;
  padding: 1rem;
}

/* Media Queries Starts Here */

@media (max-width: 768px) {


  .flip-container{
    width: 100px;
    height: 100px;
  }

  .second{
    left: 50%;
  }

  .third{
    left: 50%;
    top: 200%;
  }

  .fourth{
    top: 300%;
  }

  .fifth{
    left: 50%;
    top: 450%;
  }

  .sixth{
    top: 500%;
  }

  .slider{
    width: 100vw;
    height: calc(var(--height) / 2);
  }

  .slider .list .item{
    font-size: 1rem;
    padding: 0;
    animation-duration: 10s;
  }

  .slider .list .item:last-of-type{
    visibility: hidden;
  }

  .slider .list .item:nth-of-type(6){
    visibility: hidden;
  }


  .about{
    padding: 0 1rem;
  }

  .about-grid {
    grid-template-columns: 1fr; 
    grid-template-areas:
     "right"
     "left";
  }

  .about-right h2{
    padding: 1rem 0 0 0.5rem;
  }

  .skill-container{
    grid-template-columns: 1fr;
    overflow-x: hidden;
  }

  .panel{
    grid-template-columns: 1fr;
  }

  .panel-right{
    padding: 1rem;
  }

  .current-work{
    font-size: 0.8rem;
  }
  .company{
    font-size: 1.2rem;
  }

  .contact-grid {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .contact-card {
    padding: 2rem 1rem;
  }

  .contact-content {
    padding: 1rem;
  }
  
}

@media (max-width: 1200px) and (min-width: 768px) {



  .sixth{
    top: 480%;
  }

  .about {
    padding: 0 1rem;
  }

  .about-grid {
    grid-template-columns: 1fr 2fr; 

  }
  .skill-container{
    grid-template-columns: 1fr;
    padding: 0 0.5rem;
  }
  .panel{
    grid-template-columns: 1fr;
  }
  .contact-grid {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}


/* Media Queries Ends Here */
