.about-container{
    width: 100vh;
    height: 100vh;
}

.about-container    .about-title{
    font-size: 2rem;
    text-align: center;
    position: absolute;
    margin-left: 45%;
    margin-top: 5%;
}

.about-title h1{
    color: rgb(242, 242, 235);
}
.about-content1{
    /* width: 100vh; */
    font-size: 2rem;
    padding: 15rem 0 0 10rem;

}

p{
    color: green;
}

.about-content2{
    width: 80vh;
    font-size: 2rem;
    margin-left: 100%;
}
.about-content2 h3{
    color:#fff;
    opacity: 70%;
}
.about-content2 p{
    color: rgb(17, 88, 250);

}

a{
    color: #b48b49;
    font-size: 1.5rem;
}

@media screen and (max-width: 500px){

    .about-container{
        width: 100%;
        height: auto;
    }
    .about-container    .about-title{
        font-size: 1.5rem;
        text-align: center;
        position: absolute;
        margin-left: 25%;
        margin-top: 5%;
    }

    .about-content1{
        font-size: 1.2rem;
        padding: 6rem 0 0 1rem;
    
    }
    .about-content2{
        width: auto;
        font-size: 1.2rem;
        margin-top: 10%;
        margin-left:0%
    }
    a{
        color: #b48b49;
        font-size: 1rem;
    }
}