.social{
    width: 70px;
    height: auto;
    background-color: #000;
    margin-top: 30%;
    margin-left: 96.4%;
    border-radius: 10px;
    position: absolute;
    position: fixed;
}

@media screen and (max-width : 500px){
    .social{
        margin-top: 120%;
        margin-left: 85%;
    }
}